p{ font-family: 'Noto Sans KR', sans-serif; }

hr.two{color: black; border: thin solid;}
hr.three{ color: gray; border: thin solid; }

.welcome_box{
	background-color: black; text-align: center; height:70px; font-size: 25pt;
	font-weight: bold; color: white; padding: 10px; margin: 0px; margin-bottom: 5px;
}

#cancel_btn{
	background-color: red; color: white; padding: 10px; border: black; margin: 0px; 
	width:100px; height: 50px; font-size: 15px;
}

#submit_btn{
	background-color: #00FF00; color: black; padding: 10px; border: black; margin: 0px; 
	width:100px; height: 50px; font-size: 15px;
}

#hyperlink_btn{
	background-color: white; color: black;
}

#mainpage_btn{
	background-color: white; border-bottom-color: black; border-top-color: black;
	border-right: transparent; border-left: transparent;
}

#wrapper{
	max-width: 1020px;
	margin: 0 auto;
}

/* text sliding left to right*/
.slide-left{
	animation: move;
	animation-duration: 2s;
}

@keyframes move{
	from{
		margin-left: 100%;
		width: 300%; 
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}
/* text sliding left to right end*/

/* product picture box */
#product_wrap{
	display:block;
	width: 200px; height: 200px;
	border: 1px solid gray;
}

#product{
	width: 100px; height: 100px;
	transition: transform 2s;
	transform-origin: top left;
}

#product:hover{
	transform: scale(2,2);
	transform-origin: top left;
}
/* product picture box end */


/* Multicolumn Layout */
#introducing{
	column-count: 2; column-gap: 30px; column-width: 300px;
	column-rule-style: solid; column-rule-width: 1px;
}
/* Multicolumn Layout end*/
